// colors
$col-black: #0e0e0e;
$col-white: #ffffff;
$col-grey: #6b6b6b;

// fonts
$font-mori: "PP Mori", Arial, Helvetica, sans-serif;
$font-textual: "textual";
$font-figBold: "figtree-bold";
$font-figSemi: "figtree-semi";
$font-figLight: "figtree-light";
$font-fig: "figtree";
$font-inter: "inter";
$font-interBold: "inter-bold";
$font-interSemi: "inter-semiBold";

// z-indexes
$z-indexes: (
  "level-six",
  "level-five",
  "level-four",
  "level-three",
  "level-two",
  "level-one"
);
